/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.slider-for {
    width: 500px;
    margin-bottom: 30px;
}

.slider-for img {
    width: 38%;
    border-radius: 15px;
    margin:20px 20px;
}

.slider-for div{
    width: 850px;  height: 470px;
    border-radius: 30px;
    border: 1px solid rgb(228, 227, 227);
    position: relative;
}
.slider-for div >p{
    width: 400px; height: 500px;
    position:absolute;
    top:0; right: 0;
}
.slider-for div .text_box01{
    font-family: 'Noto Sans KR', sans-serif;
    width: 300px; height: 80px;
    position: absolute;
    top:35px; left: 370px;
    z-index: 1;
    color:#585858;
    font-size: 1.2rem;
    font-weight: bold;
}

.slider-for div .text_box02{
    font-family: 'Noto Sans KR', sans-serif;
    width: 360px; height: 250px;
    position: absolute;
    top:120px; left: 370px;
    font-size: 1rem;
    line-height: 35px;
}


.slider-nav{
    width: 730px;
    margin-left:60px;
    border-radius: 30px;
    margin-bottom:50px;
}


.slider-nav div img{
    width: 70px; height: 70px;
    border-radius: 40px;
    margin: 0 28px;
}